html, body {
	height:100%;
	width:100%;
}

.tabs {
	box-sizing:border-box;
	/*-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;*/
	/*display: inline;*/
	height: 100%;
	width: 35%;
	border-right: 2px solid;
	/*float: left;*/
	background-color: #C0C0C0;
}

.tab-title {
	background-color: #FFDA5C;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	/*width: 500px;*/
	width:100%;
}

.tab-exam {
	background-color: #FF6D31;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	/*width: 500px;*/
	width:100%;
}

.tab-project {
	background-color: #EF597B;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	/*width: 500px;*/
	width:100%;
}

.tab-class {
	background-color: #73B66B;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	/*width: 500px;*/
	width:100%;
}

.tab-extra {
	background-color: #29A2C6;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	/*width: 500px;*/
	width:100%;
}

.main {
	height: 50px;
}

.sub {
	font-size: 20px;
	height: 170px;
	display: none;
}

.eventBox_container {
	display: inline-block;
	float: left;
	padding-left: 20px;
	background-color: #A0CFCF;
	/*height: 1000px;*/
	height:100%;
	/*width: 840px;*/
	width:65%;
}

.class_eventBox {
	background-color: #73B66B;
	width: 800px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px;
}

.project_eventBox {
	background-color: #EF597B;
	width: 800px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px;
}

.exam_eventBox {
	background-color: #FF6D31;
	width: 800px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px;
}

.extra_eventBox {
	background-color: #29A2C6;
	width: 800px;
	margin-top: 10px;
	margin-bottom: 20px;
	padding: 5px;
}

.eventBox_main {
	height: 25px;
	font-size: 25px;
	padding-bottom: 5px;
}

.eventBox_sub {
	height: 80px;
	display: none;
}
